#  pickle

In [5]:
import pandas as pd
import os
import pickle

In [6]:
경로 = './data'

In [7]:
주소록 = pd.read_excel(os.path.join(경로, '주소록.xlsx'))
주소록[:3]

   고객번호    성명      영문명           전화번호                메일주소                주소
0  C001   제우스     Zeus  010-1111-2222        zeus@abc.com   서울시 양천구 목동 12-3
1  C002    헤라     Hera  010-2222-3333        hera@bcd.com  서울시 강남구 역삼동 13-4
2  C003  데메테르  Demeter  010-3333-4444  demeter@def.cc.com  서울시 송파구 잠실동 15-5

In [8]:
with open(os.path.join(경로, '주소록.pkl'), 'wb') as f:
    pickle.dump(주소록, f)

In [9]:
with open(os.path.join(경로, '주소록.pkl'), 'rb') as f:
    주소록_PKL = pickle.load(f)

In [10]:
주소록_PKL[:5]

   고객번호     성명       영문명           전화번호                메일주소                주소
0  C001    제우스      Zeus  010-1111-2222        zeus@abc.com   서울시 양천구 목동 12-3
1  C002     헤라      Hera  010-2222-3333        hera@bcd.com  서울시 강남구 역삼동 13-4
2  C003   데메테르   Demeter  010-3333-4444  demeter@def.cc.com  서울시 송파구 잠실동 15-5
3  C004  디오니소스  Dionysos  010-4444-5555    dionysos@efg.com  서울시 성북구 성북동 22-1
4  C005    아레스      Ares  010-5555-6666        ares@fgh.com  서울시 강동구 상일동 10-3

In [11]:
pd.to_pickle(주소록, os.path.join(경로, '주소록_pd.pkl'))

In [12]:
주소록_PD_PKL = pd.read_pickle(os.path.join(경로, '주소록_pd.pkl'))

In [13]:
주소록_PD_PKL[:5]

   고객번호     성명       영문명           전화번호                메일주소                주소
0  C001    제우스      Zeus  010-1111-2222        zeus@abc.com   서울시 양천구 목동 12-3
1  C002     헤라      Hera  010-2222-3333        hera@bcd.com  서울시 강남구 역삼동 13-4
2  C003   데메테르   Demeter  010-3333-4444  demeter@def.cc.com  서울시 송파구 잠실동 15-5
3  C004  디오니소스  Dionysos  010-4444-5555    dionysos@efg.com  서울시 성북구 성북동 22-1
4  C005    아레스      Ares  010-5555-6666        ares@fgh.com  서울시 강동구 상일동 10-3